.bluebutton{
    background-color: #3483fa;
    color: white;
    border-radius: 4px;
    height: 40px;
    margin-top: 24px;
    cursor: pointer;
    transition: all 300ms;
}
.disable{
    background-color: #c5bfbf;
    color: white;
    border-radius: 4px;
    height: 40px;
    margin-top: 24px;
    cursor: default;
    transition: all 300ms;
}
.bb-w1{
    width: 248px;
}

.bb-w2{
    width: 138px;
}

.bb-w3{
    width: 190px;
}

.bluebutton p{
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

.bluebutton:hover{
    background-color: #235db4;
    transition: all 300ms;
}