.br-azul-1{
    background-color: $azul-1;
}
.br-azul-3{
    background-color: $azul-3;
}
.br-gris{
    background-color: $gris3;
}
.br-blanco{
    background-color: $blanco2;
}
.br-azul-1{
    background-color: $azul-1;
}
.br-negro{
    background-color: #355471;
}