$azul-1: #065aab;
$azul-2: #cae4e3;
$azul-3:#4dc5ff3b;
$azul-4: #4dc5ff;
$negro: #373937;
$gris: #b3c0c37a;
$gris2: #dcdcdc;
$gris3: #f4f4f4;
$blanco: #f8f8f8;
$blanco2: #ffffff;
$robotoRegular: "Roboto-Regular";
$robotoBold: "Roboto-Bold";
$robotoMedium: "Roboto-Medium";
$robotoLight: "Roboto-Light";