.hr-gray{
    width: 100%;
    background-color: #b3c0c37a;
    border: none;
    height: 1.14px;
}
.hr-negro{
    border-bottom: 1px solid $negro;
}
.hr-azul{
    border-bottom: 1.4px solid $azul-1;
}
.hr-azul-2{
    border-bottom: 1px solid $azul-2;
}