@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/Roboto/Roboto-Regular.ttf);
    font-display: block;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(../assets/Roboto/Roboto-Bold.ttf);
    font-display: block;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../assets/Roboto/Roboto-Medium.ttf);
    font-display: block;
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(../assets/Roboto/Roboto-Thin.ttf);
    font-display: block;
}
@font-face {
    font-family: "Roboto-Light";
    src: url(../assets/Roboto/Roboto-Light.ttf);
    font-display: block;
}

