.formcontainer{
    width: 350px;
    background-color: white;
}
.forminput{
    border: solid 1.6px#c5bfbf;
    border-radius: 4px;
    height: 31px;
    width: 241px;
}
.yellow-layout{
    width: 100%;
    height: 30vh;
    background-color: #fff059;
}
.gray-layout{
    width: 100%;
    height: 70vh;
    background-color: #ededed;
}
.positionform{
    top: 16vh;
    left: 37.8%;
}
.create{
    background-color: white;
    width: 246px;
    border-radius: 4px;
    height: 40px;
    transition: all 300ms;
}
.create:hover{
    background-color: #307adb13;
    transition: all 300ms;
}
.create p{
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
.needhelp{
    background-color: white;
    transition: all 300ms;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.needhelp p{
    transition: all 300ms;
}
.needhelp:hover{
    background-color: #f0efefbb;
    transition: all 300ms;
}
.needhelp:hover > div p{
    color: #235db4;
    transition: all 300ms;
}