.membresiaform{
    position: absolute;
    width: 50%;
    top: 13%;
}
.card1{
    background-color: white;
    border-radius: 5px;
    padding: 10px 40px;
}
.card2{
    background-color: white;
    border-radius: 5px;
    padding: 6px 20px;
}