.screensaver-layout{
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 11.8%;
    background-position: center;
    background-size: cover;
}
.special-text{
    background-color: #45454988;
    width: fit-content;
    padding: 7px 7px 9px 7px;
    border-radius: 5px;
}

.video-container{
    margin-left: 60px;
    margin-top: 70px;
    border-radius: 5px;
}

.video-container iframe{
    border-radius: 5px;
}

.loading-screen{
    width: 88.2%;
    position: absolute;
    height: 100vh;
    left: 11.8%;
    background-color: inherit;
    justify-content: center;
}

.loading-screen-exit{
    height: 0;
    transition: all 300ms;
}

.dark-background{
    background-color: #1d1d1d;
}